/* Universal element */

*{
    box-sizing: border-box;
    font-family: "poppins";
}


/* general element */
.container{
    max-width: 1280px;
    margin: auto;
}



nav{
    display: flex;
    justify-content: space-between;
}


.search-parent input {
    border-radius: 66px;
    font-size: 20px;
    width: 500px;
    padding: 15px 30px;
    background-color: rgb(241, 241, 241);
    border:none;
}

.search-parent{
   position: relative;
   color: #BABABA;
    
}

.search-parent i{
    position: absolute;
    top: 17px;
    right: 20px;
}

nav ul{
    display:flex;
    list-style: none;
    gap: 30px;

}

nav ul li a{
    text-decoration: none;
    color: #707070;
    font-weight: 900;
    font-size: 20px;
    font-family: "poppins";
}


/* banner section */
.banner{
    background: #FEEAE9;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    padding: 28px;
    border-radius: 10px;
    margin-top: 30px;
}

.banner img{
    width: 402px;
   height: 378px;
}

.banner h2{
    color: rgb(31, 31, 31);
  font-size: 56px;
  font-weight: 700;
  font-family: "poppins";
}

.banner p{
color: rgb(78, 78, 78);
 font-size: 18px;
 font-weight: 600;
 width: 520px;
 font-family: "poppins";
}

.banner-price{
    color: #FF136F;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 15px;
    display:block;
}

.panda-btn{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    border-radius: 6px;
    padding: 15px 35px;
    border:none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.panda-btn:hover{
    cursor: pointer;
}

/* Categories*/

.categories-card-container{
    display: flex;
    gap: 26px;
    width:100%;

}

.category-card-category-card-1{
    background: linear-gradient(151.85deg, rgb(255, 156, 53) 14.537%,rgb(255, 208, 25) 84.486%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    flex: 1;
}

.category-card-category-card-2{
    background: linear-gradient(180.00deg, rgb(255, 88, 155) -0.006%,rgb(255, 19, 111) 99.994%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
       flex: 1;
}

.category-card-category-card-3{
    background: linear-gradient(170.38deg, rgb(66, 137, 255) 15.416%,rgb(63, 7, 248) 74.29%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
       flex: 1;
}




.category-card-category-card-2 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.category-card-category-card-1 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.category-card-category-card-3 h3{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.categories h2{
    color: rgb(31, 31, 31);
font-family: "Poppins";
font-size: 36px;
font-weight: 600;
}


/* Shoe Section*/

.shoe-backpack-parent{
    background: rgb(244, 244, 244);
}


.shoe-section{
    background: rgb(244, 244, 244);
    padding: 50px 0;
    margin-top: 40px;
}



.shoe-card-section{
    display:flex;
    justify-content: space-between;
    gap:15px;
}

.shoe-card{
  background: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}

.shoe-card img{
    width: 336px;
height: 202px;
}

.card-price{
    display: block;
    font-weight: 500;
    margin-bottom: 12px;
    font-size: 22px;
}

.shoe-card .panda-btn{
    border-radius: 6px;
background: rgb(0, 0, 0);
}

.title{
    display:flex;
    padding: 10px 0;
    margin: auto auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.title h2{
    color: rgb(31, 31, 31);
font-family: Poppins;
font-size: 36px;
font-weight: 600;
}


.title a{
    text-decoration: none;
    color: rgb(255, 157, 0);
font-family: "Poppins";
font-size: 20px;
font-weight: 500;
}


/*Backpack */

.bag-card{
    background: white;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
}


.bag-card img{
    width: 290px;
height: 290px;

}

.bag-card .panda-btn{
    border-radius: 6px;
background: rgb(0, 0, 0);
}